@font-face {
  font-family: 'Gotham-normal';
  src: url('../assets/Gotham-Book.eot'); /* IE9 Compat Modes */
  src: url('../assets/Gotham-Book.eot') format('embedded-opentype'),
    url('../assets/Gotham-Book.woff2') format('woff2'),
    url('../assets/Gotham-Book.woff') format('woff'),
    url('../assets/Gotham-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham-bold';
  src: url('../assets/Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('../assets/Gotham-Bold.eot') format('embedded-opentype'),
    url('../assets/Gotham-Bold.woff2') format('woff2'),
    url('../assets/Gotham-Bold.woff') format('woff'),
    url('../assets/Gotham-Bold.ttf') format('truetype');
}

.contact_dr {
  width: 100%;

  margin: 0 auto;
}
.contact_dr_wrapper {
  display: flex;
  gap: 170px;
  max-width: 956px;
  align-items: center;
  justify-content: center;
  padding: 105px 172px 150px 312px;
  margin: 0 auto;
  position: relative;
}
.contact_dr_phone {
}
.contact_dr_phone_img {
  width: 250px !important;
  height: 507px !important;
}
.contact_dr_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact_dr_title {
  color: #000;
  font-family: 'Gotham-bold';
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  max-width: 479px;
  margin-bottom: 30px;
}
.contact_dr_text_block_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}
.contact_dr_number_text_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.contact_dr_number_bg {
  max-height: 30px;
  max-width: 30px;
  width: 100%;
  height: 100%;
  padding: 5px 0px 5px 0px;
  border-radius: 10px;
  background: var(--New-Brand-Color, #f9a351);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_dr_number_item {
  color: var(--white, #fff);
  font-family: 'Gotham-normal';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}
.contact_dr_text_wraooer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact_dr_text_title {
  color: #000;
  font-family: 'Gotham-bold';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contact_dr_text_text {
  color: #000;
  font-family: 'Gotham-normal';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact_dr_button {
  display: flex;
  width: 100%;
  max-width: 505px;
  padding: 18px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #f9a351;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: 'Gotham-normal';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  text-decoration: none;
  transition: all 0.3s;
}
.contact_dr_button:hover {
  background: #000000;
  transition: all 0.3s;
}
.contact_dr_title_mob {
  display: none;
}

/* The animation code */
@keyframes elipse_1_ani {
  0% {
    width: 273px;
    height: 188px;
    border-radius: 273px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 50%;
    left: 100px;
  }
  14% {
    width: 281px;
    height: 168px;
    border-radius: 281px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 40%;
    left: 100px;
  }
  28% {
    width: 365px;
    height: 148px;
    border-radius: 365px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 40%;
    left: 250px;
  }
  42% {
    width: 332px;
    height: 248px;

    border-radius: 332px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 45%;
    left: 250px;
  }
  56% {
    width: 302px;
    height: 187px;
    border-radius: 302px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 50%;
    left: 200px;
  }
  70% {
    width: 290px;
    height: 186px;
    border-radius: 290px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 50%;
    left: 150px;
  }
  85% {
    width: 299px;
    height: 187px;
    border-radius: 299px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 50%;
    left: 100px;
  }
  100% {
    width: 273px;
    height: 188px;
    border-radius: 273px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 50%;
    left: 100px;
  }
}

.contact_elipce_1 {
  width: 273px;
  height: 188px;
  flex-shrink: 0;
  border-radius: 273px;
  background: #f9a351;
  filter: blur(79.5px);
  animation-name: elipse_1_ani;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 50%;
  left: 100px;
  z-index: -1;
}

@keyframes elipse_2_ani {
  0% {
    width: 247px;
    height: 173px;
    flex-shrink: 0;
    fill: #ffbf37;
    filter: blur(79.5px);
    top: 25%;
    left: 150px;
  }
  14% {
    width: 360px;
    height: 228px;
    flex-shrink: 0;
    border-radius: 360px;
    background: #ffbf37;
    filter: blur(79.5px);
    top: 25%;
    left: 250px;
  }
  28% {
    width: 360px;
    height: 196px;
    flex-shrink: 0;
    border-radius: 360px;
    background: #ffbf37;
    filter: blur(79.5px);
    top: 35%;
    left: 250px;
  }
  42% {
    width: 373.98px;
    height: 133.147px;
    transform: rotate(21.486deg);
    border-radius: 373.98px;
    background: #ffbf37;
    filter: blur(79.5px);
    top: 40%;
    left: 300px;
  }
  56% {
    width: 277.838px;
    height: 349.504px;
    transform: rotate(68.862deg);
    border-radius: 349.504px;
    background: #ffbf37;
    filter: blur(79.5px);
    top: 30%;
    left: 200px;
  }
  70% {
    width: 241.882px;
    height: 269.693px;
    transform: rotate(68.862deg);
    border-radius: 269.693px;
    background: #ffbf37;
    filter: blur(79.5px);
    top: 30%;
    left: 200px;
  }
  85% {
    width: 296.445px;
    height: 269.693px;
    transform: rotate(68.862deg);
    flex-shrink: 0;
    border-radius: 296.445px;
    background: #ffbf37;
    filter: blur(79.5px);
    top: 30%;
    left: 300px;
  }
  100% {
    width: 247px;
    height: 173px;
    flex-shrink: 0;
    fill: #ffbf37;
    filter: blur(79.5px);
    top: 25%;
    left: 150px;
  }
}
.contact_elipce_2 {
  width: 247px;
  height: 173px;
  flex-shrink: 0;
  fill: #ffbf37;
  filter: blur(79.5px);
  animation-name: elipse_2_ani;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 25%;
  left: 150px;
  z-index: -1;
}
@keyframes elipse_3_ani {
  0% {
    width: 274px;
    height: 287px;
    flex-shrink: 0;
    border-radius: 287px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 25%;
    left: 300px;
  }
  14% {
    width: 278px;
    height: 213px;
    flex-shrink: 0;
    border-radius: 278px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 45%;
    left: 150px;
  }
  28% {
    width: 345px;
    height: 276px;
    flex-shrink: 0;
    border-radius: 345px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 35%;
    left: 150px;
  }
  42% {
    width: 386px;
    height: 246px;
    flex-shrink: 0;
    border-radius: 386px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 40%;
    left: 200px;
  }
  56% {
    width: 345px;
    height: 214px;
    flex-shrink: 0;
    border-radius: 345px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 45%;
    left: 300px;
  }
  70% {
    width: 363.934px;
    height: 189.838px;
    transform: rotate(-23.177deg);
    flex-shrink: 0;
    border-radius: 363.934px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 35%;
    left: 150px;
  }
  85% {
    width: 345px;
    height: 214px;
    flex-shrink: 0;
    border-radius: 345px;
    background: #f9a351;
    filter: blur(79.5px);
  }
  100% {
    width: 274px;
    height: 287px;
    flex-shrink: 0;
    border-radius: 287px;
    background: #f9a351;
    filter: blur(79.5px);
    top: 25%;
    left: 300px;
  }
}
.contact_elipce_3 {
  width: 274px;
  height: 287px;
  flex-shrink: 0;
  border-radius: 287px;
  background: #f9a351;
  filter: blur(79.5px);
  animation-name: elipse_3_ani;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 25%;
  left: 300px;
  z-index: -1;
}
@media (max-width: 1370px) {
  .contact_dr_wrapper {
    padding: 60px 100px 100px 200px;
  }
}
@media (max-width: 1150px) {
  .contact_dr_wrapper {
    gap: 90px;
    padding: 60px 50px 60px 150px;
  }
}
@media (max-width: 1000px) {
  .contact_dr_wrapper {
    flex-direction: column;
    gap: 40px;
    padding: 60px 20px;
  }
  .contact_dr_title {
    display: none;
  }
  .contact_dr_title_mob {
    display: block;
    margin-bottom: 0;
    max-width: 302px;
    font-size: 30px;
  }
  .contact_dr_button {
    margin: 0 auto;
  }
  .contact_dr_phone_img {
    width: 200px !important;
    height: 408px !important;
  }
  .contact_elipce_1,
  .contact_elipce_2,
  .contact_elipce_3 {
    max-width: 100px;
    max-height: 180px;
  }

  @keyframes elipse_1_ani {
    0% {
      width: 273px;
      height: 188px;
      border-radius: 273px;
      background: #f9a351;
      filter: blur(50);
      top: 25%;
      left: 100px;
    }
    14% {
      width: 281px;
      height: 168px;
      border-radius: 281px;
      background: #f9a351;
      filter: blur(50);
      top: 25%;
      left: 100px;
    }
    28% {
      width: 365px;
      height: 148px;
      border-radius: 365px;
      background: #f9a351;
      filter: blur(50);
      top: 25%;
      left: 200px;
    }
    42% {
      width: 332px;
      height: 248px;

      border-radius: 332px;
      background: #f9a351;
      filter: blur(50);
      top: 20%;
      left: 150px;
    }
    56% {
      width: 302px;
      height: 187px;
      border-radius: 302px;
      background: #f9a351;
      filter: blur(50);
      top: 25%;
      left: 150px;
    }
    70% {
      width: 290px;
      height: 186px;
      border-radius: 290px;
      background: #f9a351;
      filter: blur(50);
      top: 25%;
      left: 150px;
    }
    85% {
      width: 299px;
      height: 187px;
      border-radius: 299px;
      background: #f9a351;
      filter: blur(50);
      top: 30%;
      left: 100px;
    }
    100% {
      width: 273px;
      height: 188px;
      border-radius: 273px;
      background: #f9a351;
      filter: blur(50);
      top: 25%;
      left: 100px;
    }
  }
  .contact_elipce_1 {
    top: 25%;
    left: 100px;
  }
  @keyframes elipse_2_ani {
    0% {
      width: 247px;
      height: 173px;
      flex-shrink: 0;
      fill: #ffbf37;
      filter: blur(50);
      top: 25%;
      left: 50px;
    }
    14% {
      width: 360px;
      height: 228px;
      flex-shrink: 0;
      border-radius: 360px;
      background: #ffbf37;
      filter: blur(50);
      top: 25%;
      left: 100px;
    }
    28% {
      width: 360px;
      height: 196px;
      flex-shrink: 0;
      border-radius: 360px;
      background: #ffbf37;
      filter: blur(50);
      top: 30%;
      left: 100px;
    }
    42% {
      width: 373.98px;
      height: 133.147px;

      border-radius: 373.98px;
      background: #ffbf37;
      filter: blur(50);
      top: 30%;
      left: 150px;
    }
    56% {
      width: 277.838px;
      height: 349.504px;

      border-radius: 349.504px;
      background: #ffbf37;
      filter: blur(50);
      top: 30%;
      left: 50px;
    }
    70% {
      width: 241.882px;
      height: 269.693px;

      border-radius: 269.693px;
      background: #ffbf37;
      filter: blur(50);
      top: 30%;
      left: 50px;
    }
    85% {
      width: 296.445px;
      height: 269.693px;

      flex-shrink: 0;
      border-radius: 296.445px;
      background: #ffbf37;
      filter: blur(50);
      top: 30%;
      left: 100px;
    }
    100% {
      width: 247px;
      height: 173px;
      flex-shrink: 0;
      fill: #ffbf37;
      filter: blur(50);
      top: 25%;
      left: 50px;
    }
  }
  .contact_elipce_2 {
    top: 25%;
    left: 50px;
  }
  @keyframes elipse_3_ani {
    0% {
      width: 274px;
      height: 287px;
      flex-shrink: 0;
      border-radius: 287px;
      background: #f9a351;
      filter: blur(50);
      top: 15%;
      left: 150px;
    }
    14% {
      width: 278px;
      height: 213px;
      flex-shrink: 0;
      border-radius: 278px;
      background: #f9a351;
      filter: blur(50);
      top: 30%;
      left: 50px;
    }
    28% {
      width: 345px;
      height: 276px;
      flex-shrink: 0;
      border-radius: 345px;
      background: #f9a351;
      filter: blur(50);
      top: 25%;
      left: 50px;
    }
    42% {
      width: 386px;
      height: 246px;
      flex-shrink: 0;
      border-radius: 386px;
      background: #f9a351;
      filter: blur(50);
      top: 30%;
      left: 50px;
    }
    56% {
      width: 345px;
      height: 214px;
      flex-shrink: 0;
      border-radius: 345px;
      background: #f9a351;
      filter: blur(50);
      top: 30%;
      left: 100px;
    }
    70% {
      width: 363.934px;
      height: 189.838px;

      flex-shrink: 0;
      border-radius: 363.934px;
      background: #f9a351;
      filter: blur(50);
      top: 30%;
      left: 50px;
    }
    85% {
      width: 345px;
      height: 214px;
      flex-shrink: 0;
      border-radius: 345px;
      background: #f9a351;
      filter: blur(50);
    }
    100% {
      width: 274px;
      height: 287px;
      flex-shrink: 0;
      border-radius: 287px;
      background: #f9a351;
      filter: blur(50);
      top: 15%;
      left: 150px;
    }
  }
  .contact_elipce_3 {
    top: 15%;
    left: 150px;
  }
  .contact_dr_number_bg {
    margin-top: 10px;
  }
  .contact_dr_number_text_wrapper {
    gap: 12px;
  }
}
